<header class="header">
    <div class="header__inner container">
        <span class="header__logo">Recipes For All Occasions.</span>
        <ul class="header__nav">
            <li><a href="#">About Us</a></li>
            <li class="header__nav-item_has-children"><a href="#">More recipes <i class="header__nav-arrow fa fa-chevron-down"></i></a>
                <ul>
                    <li>link 1</li>
                    <li>link 2</li>
                    <li>link 3</li>
                    <li>link 4</li>
                    <li>link 5</li>
                </ul>
            </li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <button class="header__donate-btn">Donate</button>
        <span class="header__burger"></span>
    </div>
</header>